body {
  font-family: sans-serif;
}

.row {
 	display:flex;
    padding: 2px;
}

.row input {
    flex: auto;
    margin: 0px 2px;
}

.table-view-cell {
    padding: 10px;
}

.MessageView .Card {
    box-shadow: black 0px 0px 2px;
    border-radius: 5px;
    margin: 5px 10px;
}

.MessageView {
  margin-bottom: 20px;
}

.Card .Section, .Card .MainSection {
    padding: 5px 10px;
}

.CardHeader, .CardFooter {
  padding: 0px 20px;
  font-size: 12px;
}

.CardHeader{
  color: #555;
}

.CardFooter{
  text-align: center;
  color: #888;
}

.Palette {
    background: #eee;
    margin: 5px 10px;
    padding: 2px 5px;
    margin-bottom: 20px;
    box-shadow: black 0px 1px 1px;
    border-radius: 5px;
}

.Screen {
    position: relative;
    min-width: 400;
    min-height: 920;
    padding-top: 60px;
}

.Screen header {
    position: absolute;
    top: 0px;
    height: 40px;
    background: #eee;
    width: 100%;
}

.Screen header h1 {
    padding:0; margin:0;
    text-align: center;
    font-size: 18px;
}
.Screen header h1 p {
    font-size: 12px;
    font-weight: normal;
    margin:0;
}


.Screen header button {
    position: absolute;
    top: 0px;
}
.Screen header button.pull-left { left: 0px; }
.Screen header button.pull-right { right: 0px; }
